extends ../layout

block content
  .page-404
    .container
      .int-404-inner
        .logo.doodle-top
          img(src="red-color-logo.png" alt="")
        .content
          .error 404
          .message
            | The page you are looking for took a day off.
            br
            | Try the menu or head back to 
            span.inner-btn
              a(href="#") Myth Journey
              img(src="/images/red-border-bottom.png" alt="")
          // Move doodle-right inside content
          .doodle-right
            // Desktop image
            img.desktop-img(src="/images/hand-drawn-puppy.png" alt="Hand drawn puppy for desktop")
            // Mobile image
            img.mobile-img(src="/images/mobile-screen-puppy-image.png" alt="Hand drawn puppy for mobile")
