extends ../layout

block content
  section.about-hero
    h1 About Red Arrow
    p We are a modern creative collective shaping stories, brands, and digital experiences.

  section.about-content
    .container
      h2 Who We Are
      p
        Red Arrow is a creative studio focused on blending strategy

      h2 What We Do
      ul
        li Brand Identity
        li Web Experiences
        li Creative Storytelling
        li Digital Strategy
