extends ../layout

block content
  .loader-wrapper
    .arrow
      img(src="/images/loading-arrow.png", alt="arrow")
    .loader-text #{label}

  script.
    setTimeout(() => {
      window.location.href = "#{targetUrl}";
    }, 7500); // 2.5 seconds
