extends ../layout

block content
  .loader-wrapper
    .arrow
      img(src="/images/loading-page-arrow.png", alt="arrow")
    .loader-text #{label}

    style.
            .logo-container {
              background-color: transparent !important;
            }
            .logo-container.fixed {
              background-color: transparent !important;
            }


  script.
    setTimeout(() => {
      window.location.replace("#{targetUrl}");
    }, 7500); // 2.5 seconds
