extends ../layout

block content
  section.page.terms-page
    .container
      h1 Terms & Conditions

      p
        | These terms and conditions outline the rules and regulations
        | for the use of our website.

      h2 Usage
      p
        | By accessing this website, you accept these terms in full.

      h2 Intellectual Property
      p
        | Unless otherwise stated, we own the intellectual property
        | rights for all material on this website.
