doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap")
    style.
      @import url('https://fonts.cdnfonts.com/css/ds-digital');
      @font-face {
        font-family: 'DS-Digital';
        src: url('https://fonts.cdnfonts.com/s/15048/DS-DIGIB.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: 'DS-Digital';
        src: url('/fonts/DS-DIGIB.woff') format('woff'),
             url('/fonts/DS-DIGIB.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }

  body(class=pageClass)
    // ✅ header wrapper added with condition
    header.site-header(class=headerWhite ? 'header--white' : '')
      include partials/menu

    block content

    if showFooter !== false
      include partials/footer

    script(src="/js/menu.js")
