footer.site-footer
  .footer-inner
    .footer-brand
      h3 Red Arrow
      p Crafting modern digital myths ✨

    .footer-links
      ul
        li
          a(href="/about") About Us
        li
          a(href="/myth-journey") Myth Journey
        li
          a(href="/myth-creation") Myth Creation

    .footer-meta
      p © #{new Date().getFullYear()} Red Arrow. All rights reserved.
