.menu-overlay.hidden
  .menu-inner
    ul
      li: a(href="/myth-journey") Myth Journey
      li Myth Creation
      li Work
      li About

.menu-trigger
  img(src="/images/menu-icon.svg", alt="Menu")
