

.machine {
  width: 97%;
    background: #222;
    border-radius: 12px;
    box-shadow: 0 0 30px #000;
    padding: 10px;
    margin-top: 100px !important;
    margin: 0 auto;

  .screen {
    border: 4px solid #333;
    border-radius: 8px;
    overflow: hidden;

    video {
      width: 100%;
      height: 470px;
      object-fit: cover;
    }
  }

  .panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #000;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    gap: 25px;

    .counter-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;

      .label {
        color: #aaa;
        font-size: 10px;
      }

      .counter {
        display: flex;
        overflow: hidden;
        font-family: 'Courier New', monospace;
        background: #1a0000;
        color: red;
        padding: 2px 10px;
        font-size: 74px;
        border-radius: 4px;
        box-shadow: inset 0 0 6px #ff0000;
        height: 65px;

        &.big {
          font-size: 74px;
          padding: 0px 14px;
          height: 72px;
        }

        .column {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          position: relative;
          width: 1ch;

          .number {
            display: block;
            height: 1em;
            line-height: 1em;
            text-align: center;
          }

          &.animate {
            animation: roll 0.8s forwards cubic-bezier(.25,-0.1,.75,1.1);
          }
        }
      }
    }
  }
}

@keyframes roll {
  from { transform: translateY(0); }
  to { transform: translateY(var(--offset)); }
}
