* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f8f5f1;
    color: #222;
    // overflow: hidden;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #828282;
    padding-bottom: 10px;
}

textarea:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

input::placeholder,
textarea::placeholder {
    color: #828282;
}

.input-group textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    height: 100px;
}

// Container
.container {
    max-width: 1220px;
    margin: 0 auto;

    .post-outer {
        padding-block: 60px;
        overflow: hidden;
        margin-top: 70px;

        .header {
            margin-bottom: 80px;
            max-width: 58%;
            margin-left: auto;

            h1 {
                letter-spacing: 4px;
                font-family: Work Sans;
                font-weight: 300;
                font-size: 88px;
                line-height: 100%;
                text-transform: uppercase;
                padding-bottom: 30px;
            }
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            gap: 20px;

            .left {
                display: flex;
                gap: 50px;
                width: 50%;

                span {
                    color: #e00000;
                    font-weight: 500;

                    &.left-span {
                        font-family: Work Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        color: #bdbdbd;
                    }

                    &.left-span-2nd {
                        color: #e00000;
                        font-family: Work Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                    }
                }
            }

            .form {
                width: 70%;

                .form-row {
                    display: flex;
                    gap: 50px;
                    margin-bottom: 40px;

                    .input-group {
                        width: 100%;

                        label {
                            letter-spacing: 2px;
                            display: block;
                            margin-bottom: 8px;
                            font-family: Work Sans;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 100%;
                            color: #828282;
                        }

                        input,
                        textarea {
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #1e1e1e;
                            background: transparent;
                            padding: 8px 0;
                            outline: none;
                            font-family: Work Sans;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 100%;
                            color: #828282;
                        }

                        textarea {
                            height: 80px;
                            resize: none;
                        }
                    }
                }

                .interest-wrapper {
                    margin-bottom: 50px;
                    font-family: Work Sans;
                    font-weight: 600;
                    font-size: 16px;
                    color: #828282;

                    .interest-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #1e1e1e;
                        padding: 10px 0;
                        cursor: pointer;

                        span {
                            font-size: 20px;
                            transition: 0.3s ease;
                        }
                    }

                    .interest-options {
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 0.4s ease;

                        &.active {
                            max-height: 200px;
                        }

                        .interest-item {
                            border-bottom: 1px solid #1e1e1e;
                            cursor: pointer;
                            transition: 0.3s ease;
                            padding-top: 25px;
                            padding-bottom: 10px;

                            &:hover,
                            &.active {
                                color: #ff0004;
                            }
                        }
                    }
                }

                .btn-wrapper {
                    position: relative;
                    display: inline-block;

                    .btn {
                        position: relative;
                        z-index: 2;
                        background: transparent;
                        border: none;
                        color: #e00000;
                        letter-spacing: 2px;
                        cursor: pointer;
                        display: inline-block;
                        padding-block: 20px;
                        border-radius: 30px;
                        transition: 0.3s ease;
                        font-family: Work Sans;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        text-align: center;
                        text-transform: uppercase;
                        margin-left: -30px;
                        margin-top: 25px;
                    }

                    .btn-border {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 220px;
                        height: auto;
                        transform: translate(-50%, -50%);
                        pointer-events: none;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

// Media Queries
@media (max-width: 1230px) {
    .post-outer {
        padding-inline: 20px;
    }
}

@media (max-width: 1024px) {
    .header {
        h1 {
            font-size: 48px !important;
        }
    }

    .post-outer {
        padding-inline: 20px;
    }
}

@media (max-width: 820px) {
    .content {
        flex-direction: column;
        gap: 40px;
    }

    .header {
        max-width: 100%;
        margin-bottom: 0;

        h1 {
            font-size: 48px;
        }
    }

    .post-outer {
        padding-inline: 20px;
    }

    .btn-wrapper {
        display: flex !important;
        justify-content: end;

        .btn-border {
            position: absolute;
            top: 50%;
            right: -129px;
            left: auto;
        }
    }

    .left,
    .form {
        width: 100%;
    }

    .form-row {
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 820px) {
    .container .post-outer .header {
        max-width: 100%;
    }

    .container .post-outer .content .left {
        display: flex;
        gap: 50px;
        width: 100%;
    }

    .container .post-outer .content .form {
        width: 100%;
    }

    .form-row {
        margin-bottom: 20px;
    }

    body {
        overflow: visible;
    }

    .interest-wrapper {
        margin-bottom: 30px;
    }

    .left {
        gap: 30px;
    }
}

@media (max-width: 370px) {
    .header h1 {
        font-size: 46px !important;
    }
}

.fate-oval__text {
    font-size: 16px;
    font-weight: 600;
    color: #ff0004;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}

svg.fate-oval__svg {
    position: absolute;
    width: 230px;
    top: -30px;
    right: -26px;
    pointer-events: none;
}

.fate-oval__path {
    fill: none;
    stroke: red;
    stroke-width: 0.2 !important;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    transition: stroke-dashoffset 0.1s ease;
}