/* ==============================
   Benji Bistro – Scoped Styles
   ============================== */
body {
  background: #ffffff;
  font-family: Work Sans;
}

.inner-photo img {
  border-radius: 20px;
  margin-top: 15px;
}
.benji-image img {
  height: 512px !important;
}
.ist-photo-banner p {
  max-width: 49% !important;
  font-family: Work Sans;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  color: #1e1e1e !important;
}

.ist-photo-banner1 p {
  font-family: Work Sans;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  color: #1e1e1e !important;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
}

.logo-container.fixed {
  position: fixed;
  top: 0px !important;
  left: 50% !important;
  z-index: 999;
  transform: translateX(-50%) !important;
  // background: #f8f5f1;
  padding-bottom: 15px;
}

.benji-wrapper {
  font-family: "Inter", sans-serif;
  color: #111;
  padding-top: 120px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

/* Main layout */
.benji-hero {
  display: flex;
  gap: 101px;
  align-items: center;
  margin-block: 30px;
  justify-content: space-between;
}

.benji-content {
  width: 69%;
}

/* Image */
.benji-image {
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
  }
}

/* Title */
.benji-title {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
  margin: 0;
  padding-bottom: 10px;
}

/* Description */
.benji-description {
  margin-bottom: 36px;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #1e1e1e;
}

.benji-services {
  position: relative;
  width: 18%;

  p {
    color: #1e1e1e;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
  }
}

.benji-absolute {
  position: absolute;
  top: -48px;
  left: 0;
}

// here is the scroll tab on mobile css start here
.benji-flex {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}

.left,
.right {
  min-width: 280px;
}

/* Left column */
.left {
  div {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #1e1e1e;
    margin-top: 25px;
  }

  .label {
    color: #686868;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
  }
}

/* Right column */
.right {
  h2 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1e1e1e;
  }

  p {
    margin-bottom: 15px;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    max-width: 583px;
  }
}

.bistro-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 574px;
  margin-block: 50px;

  img {
    border-radius: 20px;
  }
}

.bistro-flex {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.photo-banner img {
  margin-top: 25px;
}

.bistro-item {
  img {
    border-radius: 20px;
    width: 595px;
    height: 574px;
  }
}

.photo-right {
  max-width: 590px;
  margin-left: auto;
}

.bistro-inner-item {
  max-width: 590px;
  margin-left: auto;
  margin-top: 15px;

  p {
    font-weight: 500 !important;
    font-size: 18px !important;
    padding-bottom: 20px !important;
    line-height: 100% !important;
    text-transform: uppercase !important;
    color: #828282 !important;
  }
}

/* Photo Section */
.photo-banner {
  // margin-top: 30px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1e1e1e;
    margin: 0;
    margin-top: 35px;
  }

  p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #828282;
  }

  img {
    width: 100%;
    border-radius: 20px;
  }
}

.photo-flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;

  .photo-item {
    img {
      //   width: 100%;
      border-radius: 20px;
    }
  }
}

// here is the create section css start here
.create-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.creative-banner {
  padding-block: 35px;
}

.create-item-grid {
  img {
    border-radius: 20px;
  }
}

.create-inner-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 2px 30px;
}

.creative-banner {
  h3 {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: #1e1e1e;
    margin: 0;
  }

  p {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #1e1e1e;
    max-width: 485px;
  }
}

.creater-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-item-int {
  width: 40%;

  img {
    border-radius: 20px;
  }
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  align-items: center;

  img {
    border-radius: 20px;
  }
}

.event-item-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

// here is the project css start here

.related-projects {
  margin: 80px auto;

  h2 {
    margin-bottom: 60px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 42px;
    line-height: 130%;
  }
}

/* GRID */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 284px;
  align-items: start;
}

/* Center top card */
.project {
  &.center {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    width: 58%;
    margin-left: auto;
  }

  p {
    margin-top: 12px;
    letter-spacing: 0.5px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
  }
}

/* CARD */
.project-card {
  width: 100%;
  max-width: 470px;
  height: 220px;
  background: #c4c4c4;
  border-radius: 16px;
}

.project-center {
  width: 60%;
  margin-left: auto;
}

.project.center p {
  width: 100%;
  max-width: 470px;
  /* centers the text block */
  text-align: left;
  /* aligns text to card start */
}

.photo-item img {
  width: 595px !important;
  height: 574px !important;
}

// new layout css start here
.event-layout-new {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.event-gallery-new {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.event-column-new.event-single-image-new {
  width: 19%;
}

.event-gallery-new {
  width: 71%;
}

.event-image-box-new img,
.event-single-image-new img {
  border-radius: 20px;
}

.benji-services {
  p:nth-child(4) {
    @media (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: "+";
        font-size: 35px;
        font-weight: 500;
        line-height: 1;
        color: #ff0004;
      }
    }
  }
}

/* Progress bar wrapper at the top */
.progress-bar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 9999;
  background: #bdbdbd;
}

/* The actual filling bar */
.progress-bar {
  width: 100%;
  height: 100%;
  background: #ff0004;
  transform: scaleX(0);
  transform-origin: left center;
}

/* Media Queries */
@media (max-width: 1100px) {
  .bistro-item img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .open-outer {
    margin-top: 100px;
    padding-inline: 20px;
  }

  .main-portfolio-outer {
    padding-inline: 10px;
  }

  .create-item-grid.create-inner-flex img {
    width: auto;
  }

  .create-item-grid img {
    width: 100%;
  }

  .event-item img {
    width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 900px) {
  .create-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .benji-hero {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .right-form input[type="email"] {
    width: 100%;
  }

  .photo-item img {
    width: 100% !important;
    height: auto !important;
  }

  .project.center {
    width: 100%;
  }

  .benji-hero {
    flex-direction: column;
    gap: 15px;
    align-items: start;
  }

  .create-item-int {
    width: 100%;
  }

  .create-item-int {
    width: 100%;
  }

  .benji-content {
    width: 100%;
  }

  .benji-image img {
    height: 325px;
    object-fit: cover;
  }

  .benji-services {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    p {
      font-size: 12px;
      width: 46%;
    }
  }

  .benji-absolute {
    top: -24px;
    left: 0px;
  }

  .benji-description {
    font-size: 20px;
  }

  .benji-wrapper {
    padding-inline: 8px;
  }

  .benji-title {
    font-size: 40px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .benji-flex {
    flex-direction: column-reverse;
  }

  .right {
    h2 {
      font-size: 20px;
    }
  }

  .left {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .bistro-banner {
    height: auto;
    padding-bottom: 50px;

    img {
      width: 100%;
    }
  }

  .photo-banner h2 {
    font-size: 20px;
  }

  .photo-flex {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .event-layout-new {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event-column-new.event-single-image-new {
    width: 100%;
  }

  .event-gallery-new {
    width: 100%;
  }

  .event-gallery-new {
    justify-content: center;
  }

  .event-gallery-new img {
    width: 100%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .project-center {
    width: 100%;
    margin-left: auto;
  }

  .ist-photo-banner p {
    max-width: 100% !important;
  }

  .project.center {
    justify-content: flex-start;
  }

  .project-card {
    max-width: 100%;
  }

  .benji-services {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .event-grid {
    grid-template-columns: 1fr;
  }

  .bistro-item img {
    width: 100%;
    height: 200px;
  }

  .event-item-grid {
    grid-template-columns: 1fr;
  }

  .create-grid {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .creative-banner {
    h3 {
      font-size: 20px;
    }
  }

  .create-inner-flex {
    align-items: center;
    justify-content: start;
  }

  .create-int img {
    width: 355px !important;
  }

  .create-item-int img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  // .bistro-item img {
  //   width: 173px;
  // }

  .left div {
    margin-top: 10px;
  }

  .bistro-inner-item p {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .bistro-banner {
    padding-block: 50px;
  }
}