 body {
    //  background: #ffffff;
      font-family: Work Sans;
   }
.open-flex {
    display: flex;
    justify-content: end;
}
.open-outer {
    margin-top: 100px;
}

// banner css start here
.page-wrapper {
  background-color: #b0b0b0; // gray background
  height: 100vh; // full viewport height
  width: 100vw;
  display: flex;
  align-items: flex-end; // bottom alignment
  padding: 20px;

  .details {
    color: #000;
    font-size: clamp(12px, 1.5vw, 16px);
    display: flex;
    gap: 100px;

    .details-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      text-transform: uppercase;

      .label {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #1E1E1E !important;
      }
    }
  }

  @media (max-width: 600px) {
    .details {
      flex-direction: column;
      gap: 5px;
    }
  }
.open-outer {
    margin-top: 0px;
}
}

  @media (max-width: 600px) {
.open-outer {
    margin-top: 10px;
    padding-inline: 20px;
}
}
// .inner-grid-open {
//     gap: 10px;
//     margin-top: -40px;
//     display: none;
//     flex-wrap: wrap;
// }